@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <p>
        POESESSID: <input type="text" asp-for="SessionId" />
    </p>
    <p>
        League: <select asp-for="League" asp-items="Model.Leagues"></select>
    </p>
    <p>
        Realm: <select asp-for="Realm" asp-items="Model.Realms"></select>
    </p>
    <p>
        Account Name: <input type="text" asp-for="AccountName" />
    </p>
    <p>
        Stash Tab Name: <input type="text" asp-for="TabName" />
    </p>
    <p>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </p>
</form>

<div class="result">
    <p>
        <button id="previousPageButton" class="btn btn-secondary" disabled>Previous</button>
        <button id="nextPageButton" class="btn btn-secondary" disabled>Next</button>
    </p>
    <div class="stash">
        @if (Model.CanDisplayStash)
        {
            <p>Result:</p>
            foreach (var item in Model.Stash)
            {
                string widthClass = $"iWidth{item.Width}";
                string heightClass = $"iHeight{item.Height}";

                string leftPixels = $"{Model.OneUnitSize * item.PositionX}px";
                string topPixels = $"{Model.OneUnitSize * item.PositionY}px";

                <div class="item @widthClass @heightClass" style="position: absolute; left: @leftPixels; top: @topPixels">
                    <img src="@item.IconUrl" />
                </div>
            }
        }

        <div id="stash-highlights">
            @if (Model.CanDisplayHighlights)
            {
                int pageNumber = 1;
                for (int i = 0; i < Model.HighlightSets.Count; i++)
                {
                    var set = Model.HighlightSets[i];
                    
                    <div id="highlight-page-@(pageNumber++)" style="display: none">
                        @foreach (var iq in set)
                        {
                            string widthClass = $"iWidth{iq.Item.Width}";
                            string heightClass = $"iHeight{iq.Item.Height}";

                            string leftPixels = $"{Model.OneUnitSize * iq.Item.PositionX}px";
                            string topPixels = $"{Model.OneUnitSize * iq.Item.PositionY}px";

                            <div class="item @widthClass @heightClass" style="position: absolute; left: @leftPixels; top: @topPixels">
                                <img src="@iq.Item.IconUrl" />
                                <div class="highlight"></div>
                            </div>
                        }

                        @for (int j = i + 1; j < Model.HighlightSets.Count; j++)
                        {
                            var otherSets = Model.HighlightSets[j];

                            foreach (var iq in otherSets)
                            {
                                string widthClass = $"iWidth{iq.Item.Width}";
                                string heightClass = $"iHeight{iq.Item.Height}";

                                string leftPixels = $"{Model.OneUnitSize * iq.Item.PositionX}px";
                                string topPixels = $"{Model.OneUnitSize * iq.Item.PositionY}px";

                                <div class="item @widthClass @heightClass" style="position: absolute; left: @leftPixels; top: @topPixels">
                                    <img src="@iq.Item.IconUrl" />
                                </div>
                            }
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>